@media (max-width: 1650px) {
    .ready-solutions {
        margin-right: 125px;
    }

    .menu-content {
        width: 1310px;
    }

}

@media (max-width: 1360px) {
    .container {
        max-width: 768px;
        padding: 0 21px;
    }

    .header-content img {
        margin-right: 102px;
    }

    .header-content p {
        margin-top: 30px;
    }

    .burger-menu {
        display: block;
        position: relative;
        width: 38px;
        height: 20px;
        top: -42px;
        margin-left: auto;
        margin-right: 3px;
        z-index: 50;
    }

    .burger-menu span {
        position: absolute;
        content: '';
        background-color: #333333;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        left: 0;
        top: 9px;
    }

    .burger-menu::before,
    .burger-menu::after {
        position: absolute;
        content: '';
        background-color: #333333;
        width: 100%;
        height: 3px;
        border-radius: 5px;
        left: 0;
    }

    .burger-menu::before {
        top: 0;
    }

    .burger-menu::after {
        bottom: 0;
    }

    .burger-menu.active span {
        transform: scale(0);
    }

    .burger-menu.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .burger-menu.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .menu-content {
        position: fixed;
        width: 694px;
        height: 400px;
        right: -100%;
        top: 0;
    }

    .menu-content.active {
        right: 0;
    }

    .menu-list {
        display: flex;
        text-align: center;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 75px;
        margin-left: 0px;
        margin-bottom: 25px;
        font-size: 18px;
    }

    .about,
    .network,
    .internet-shop,
    .ready-solutions {
        margin-right: 0;
    }


    .about::after,
    .network::after,
    .internet-shop::after,
    .ready-solutions::after {
        width: 100%;
        height: 2px;
        top: 115px;
        left: -47px;
    }

    .about::after {
        margin-left: 46px;
    }

    .network::after {
        margin-left: 46px;
        margin-top: 72px;
    }

    .internet-shop::after {
        margin-left: 46px;
        margin-top: 142px;
    }

    .ready-solutions::after {
        margin-left: 46px;
        margin-top: 210px;
    }

    .contacts__content {
        margin-top: 66px;
        margin-left: 2px;
    }

    .contacts-info-and-map {
        width: 768px;
        flex-wrap: wrap;
    }

    .contacts-info {
        display: flex;
        flex-wrap: wrap;
        width: 670px;
        justify-content: space-between;
    }

    .contacts__content h1 {
        margin-bottom: 15px;
    }

    .mail-and-facebook {
        display: none;
    }

    .contacts-info p {
        margin-bottom: 32px;
    }

    .table-time {
        margin-left: 370px;
    }

    .google-map {
        margin-left: 0;
        position: absolute;
        margin-top: 19px;
        left: 0;
        width: 100%;
        height: 571px;
        top: 509px;
    }

    .footer-content {
        max-width: 710px;
        margin-top: 603px;
    }

    .footer-info {
        margin-top: 16px;
        margin-right: 2px;
    }
}

@media (max-width: 760px) {
    .container {
        max-width: 550px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-content p {
        margin-top: 12px;
        text-align: center;
    }

    .burger-menu {
        width: 30px;
        top: -93px;
        margin-right: 0px;
    }

    .menu-content {
        width: 100%;
    }

    .contacts__content {
        margin-top: 35px;
        margin-left: 2px;
    }

    .contacts-info-and-map {
        width: 506px;
    }

    .contacts-info {
        width: 329px;
    }

    .mail-and-facebook {
        display: block;
    }

    .table-time {
        margin-left: 0;
    }

    .google-map {
        top: 745px;
    }

    .footer-content {
        max-width: 450px;
    }
}

@media (max-width: 549px) {
    .container {
        max-width: 320px;
        padding: 0 7px;
    }

    .header-content p {
        margin-left: 13px;
    }

    .contacts__content {
        margin-top: 19px;
        margin-left: 0px;
    }

    .contacts__content h1 {
        margin-bottom: 25px;
    }

    .contacts-info p {
        margin-bottom: 19px;
    }

    contacts-info-and-map {
        width: 269px;
    }

    a:last-child {
        display: flex;
        flex-direction: column;
    }

    .google-map {
        height: 570px;
        top: 730px;
    }

    .contacts-info-and-map {
        width: 290px;
    }

    .footer-content {
        max-width: 290px;
        margin-top: 650px;
    }

    .footer-info {
        margin-top: -6px;
        margin-right: 195px;
    }
}